@import "./breakpoints";
@import url('https://fonts.googleapis.com/css?family=Dosis');

body {
    background-color: #fff;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}

.animation-toolset {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: lighten(#e7e7e7, 6%);
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
    background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    -webkit-background-size: 800px 104px;
    background-size: 800px 104px;
}

.navbar-pokemon {
    background-color: cornflowerblue;
    border: 0;
    .navbar-header {
        .navbar-brand {
            width: 6rem;
            height: 6rem;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.pokedex-container {
    margin: 6.8rem auto 0rem auto;
    padding: 2rem 0;
    

    .pokedex-scroller {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .pokedex-spinner {
        text-align: center;
    }

    .poke-placeholder {
        border: 1px solid #dadada;
        border-radius: .4rem;
        background-color: #fafafa;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 16rem;
        position: relative;

        .image-placeholder {
            .image {
                margin-top: -1rem;
                width: 6rem;
                height: 6rem;
                border-radius: .4rem;
                background: lighten(#e7e7e7, 6%);
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
                -webkit-animation-name: placeHolderShimmer;
                animation-name: placeHolderShimmer;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                background: lighten(#e7e7e7, 6%);
                background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
                background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
                background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
                -webkit-background-size: 800px 104px;
                background-size: 800px 104px;

            }
        }

        .text-placeholder {
            width: 80%;
            margin: 0 auto;
            height: 2rem;
            position: absolute;
            bottom: 2rem;
            border-radius: .4rem;

            @extend .animation-toolset;
        }
    }

    .pokedex-box {
        margin-bottom: 1.6rem;
        border: 1px solid #dadada;
        border-radius: .4rem;
        background-color: #fafafa;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        .box-image {
            img {
                margin-top: -1rem;
            }
        }
        .box-text {
            font-family: 'Dosis', sans-serif;
            font-size: 1.8rem;
            position: absolute;
            bottom: 2rem;
        }
    }
}

.poke-name {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
}

.poke-image {
    display: flex;
    justify-content: center;

    img {
        width: 20rem;
        height: 100%;
    }
}

@include onlySmall {
    .pokedex-container {
        width: 80%;
        flex-direction: column;

        .pokedex {
            width: 100%;
        }

        .pokedex-box {
            width: 100%;
            height: 16rem;

            .box-image {
                img {
                    width: 20rem;
                    height: 20rem;
                }
            }
        }
    }
}

@include tablet {
    .pokedex-container {
        width: 80%;
        justify-content: space-between;

        .pokedex {
            width: calc(96% / 4);
        }

        .pokedex-box {
            height: 16rem;
        }
    }
}

@include desktop {
    .pokedex-container {
        width: 60%;

        .pokedex {
            width: calc(96% / 4);
            margin-bottom: 1.4rem;
        }
    }
}
