body {
    background-color: #fff;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar-pokemon {
    background-color: cornflowerblue;
    border: 0;
    .navbar-header {
        .navbar-brand {
            width: 6rem;
            height: 6rem;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.pokedex-container {
    width: 80%;
    margin: 6.8rem auto;
    padding: 2rem 0;

    .pokedex-box {
        width: 100%;
        height: 18rem;
        margin-bottom: 1.6rem;
        border: 1px solid #dadada;
        border-radius: .4rem;
        background-color: #fafafa;


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .box-image {
            margin-bottom: 2rem;
        }
    }
}
